    <li [ngClass]="getEntryClasses()">Creighton <span>50</span></li>
	<li class="game game-spacer">&nbsp;</li>
	<li [ngClass]="getEntryClasses()">Creighton <span>50</span></li>
    
<!--<div class="match" style="margin-top: 25px">
    <div class="match-group"  [ngStyle]="getMatchStyle()">
        <pm-bracket-entry></pm-bracket-entry>
        <pm-bracket-entry></pm-bracket-entry>
    </div>
    <div class="results" style="height: 44px; width: 20px;">
        <div class="criteria">F</div>
        <div class="outcome">3:30</div>
        <div class="match-number">#303</div>    
    </div>
    <div class="connector" style="height: 32.5px; width: 20px; right: -22px; bottom: 10.25px; border-top: none;">
        <div class="connector" style="width: 20px; right: -20px; top: 0px;"></div>
    </div>
</div>-->
