<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body">
      <div class="row">
          <div class="col-md-2">Filter by:</div>
          <div class="col-md-4">
            <input type="text"
                   [(ngModel)]="listFilter" />
          </div>
          <div class="nav-ml-auto">
              <button class="btn btn-outline-success btn-sm"
              routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/events/0/edit']">
               +Add New
              </button>
          </div>
        </div>
    <div class="row"
         *ngIf="listFilter">
      <div class="col-md-6">
        <h4>Filtered by: {{listFilter}}</h4>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table mb-0"
             *ngIf="events && events.length">
        <thead>
          <tr>
            <th>
              <button class="btn btn-outline-primary btn-sm"
                      (click)="toggleImage()">
                {{showImage ? "Hide" : "Show"}} Image
              </button>
            </th>
            <th>Event Name</th>
            <th>Sport</th>
            <th>Location</th>
            <th>Date(s)</th>
            <th>Time</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let event of filteredEvents">
            <td>
              <img *ngIf="showImage && event.eventImageUrl"
                   [src]="event.eventImageUrl"
                   [title]="event.eventName"
                   [style.width.px]="imageWidth"
                   [style.margin.px]="imageMargin">
            </td>
            <td>
              <a [routerLink]="['/events', event.id]">
                {{ event.eventName }}
              </a>
            </td>
            <td>{{ event.eventSport }}</td>
            <td>{{ event.eventLocationCity }}, {{ event.eventLocationState }}</td>
            <td>{{ event.eventStartDate }} - {{ event.eventEndDate }}</td>
            <td>{{ event.eventStartTime }}</td>
            <td>
              <button class="btn btn-outline-primary btn-sm"
                      [routerLink]="['/events', event.id, 'edit']">
                See Live
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

<div *ngIf="errorMessage"
     class="alert alert-danger">
  Error: {{ errorMessage }}
</div>