<form [formGroup]="myForm">
    <ng-container formArrayName="names"
      *ngFor="let item of myForm.get('names').controls; let i = index;">
      <mat-form-field class="example-chip-list" [formGroupName]="i">
        <mat-chip-list #chipList >
          <mat-chip *ngFor="let val of item.value.val"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="removeChip(item, val)">
            {{val}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input [placeholder]="item.value.name"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addChip($event, item)">
        </mat-chip-list>
        <mat-error>Atleast 1 name need to be added</mat-error>
      </mat-form-field>
    </ng-container>
    </form>
    
    <!-- Copyright 2018 Google Inc. All Rights Reserved.
        Use of this source code is governed by an MIT-style license that
        can be found in the LICENSE file at http://angular.io/license -->
    
    
    
    