<div class="card">
    <div class="card-header"
         *ngIf="event">
      {{pageTitle + ": " + event.eventSport + " > " + event.eventName}}
    </div>
  
    <div class="card-body"
         *ngIf="event">
  
      <div class="row">
  
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-3">Sport:</div>
            <div class="col-md-9">{{event.eventSport}}</div>
          </div>
          <div class="row">
            <div class="col-md-3">Name:</div>
            <div class="col-md-9">{{event.eventName}}</div>
          </div>
          <div class="row">
            <div class="col-md-3">Location Name:</div>
            <div class="col-md-9">{{event.eventLocationName}}</div>
          </div>
          <div class="row">
            <div class="col-md-3">Address:</div>
            <div class="col-md-9">{{event.eventLocationAddress}}</div>
          </div>
          <div class="row">
            <div class="col-md-3">City:</div>
            <div class="col-md-9">{{event.eventLocationCity}}</div>
          </div>
          <div class="row">
              <div class="col-md-3">State:</div>
              <div class="col-md-9">{{event.eventLocationState}}</div>
          </div>
          <div class="row">
              <div class="col-md-3">Dates:</div>
              <div class="col-md-9">{{event.eventStartDate}} - {{event.eventEndDate}}</div>
          </div>
          <div class="row">
              <div class="col-md-3">Time:</div>
              <div class="col-md-9">{{event.eventStartTime}} - {{event.eventEndTime}}</div>
          </div>
          <div class="row">
              <div class="col-md-3">Website:</div>
              <div class="col-md-9"><a href="{{event.eventUrl}}">Click Here</a></div>
          </div>
          <div class="row">
              <div class="col-md-3">Level:</div>
              <div class="col-md-9">{{event.eventLevels}}</div>
          </div>
          <div class="row">
              <div class="col-md-3">Type:</div>
              <div class="col-md-9">{{event.eventType}}</div>
          </div>
          <div class="row">
              <div class="col-md-3">Number of Weights:</div>
              <div class="col-md-9">{{event.eventBreakdowns.length}}</div>
          </div>
          <div class="row">
              <div class="col-md-3">Weight Classes:</div>
              <div class="col-md-6">{{event.eventBreakdowns}}</div>
          </div>
          <div class="row">
              <div class="col-md-3">Number of Seeds:</div>
              <div class="col-md-9">{{event.eventNumOfSeeding}}</div>
          </div>
          <div class="row">
            <div class="col-md-3">Organizer:</div>
            <div class="col-md-9">{{event.eventOrganizerFullName}}</div>
          </div>
          <div class="row">
            <div class="col-md-3">Organizer Phone#:</div>
            <div class="col-md-9">{{event.eventOrganizerPhone}}</div>
          </div>
            <div class="row">
            <div class="col-md-3">Bracket Type:</div>
            <div class="col-md-9">{{event.eventBracketType}}</div>
          </div>
          <div class="row">
            <div class="col-md-3">Number of Participants:</div>
            <div class="col-md-9">{{event.eventBracketNumOfParticipantsPerClass}}</div>
          </div>
          <div class="row">
            <div class="col-md-3">Number of Placers:</div>
            <div class="col-md-9">{{event.eventPlaceWinners}}</div>
          </div>
        </div>
        <div class="col-md-3"
             *ngIf="event.eventImageUrl">
          <img class="center-block img-responsive"
               [style.height.px]="150"
               [style.margin.px]="2"
               [src]="event.eventImageUrl"
               [title]="event.eventName">
        </div>
      </div>
  
      <div class="row mt-4">
        <div class="col-md-4">
          <button class="btn btn-outline-secondary mr-3"
                  style="width:80px"
                  (click)="onBack()">
            <i class="fa fa-chevron-left"></i> Back
          </button>
          <button class="btn btn-outline-primary"
                  style="width:80px"
                  [routerLink]="['/events', event.id, 'edit']">
            Edit
          </button>
        </div>
      </div>
  
    </div>
  
    <div class="alert alert-danger"
         *ngIf="errorMessage">{{errorMessage}}
    </div>
  </div>