<h1>Match 112 - Brock Chapman vs Joe Smith</h1>
<h1>Dynamic Matches<br>
    <small><i>In realtime</i></small>
  </h1>
  <div id="{{ElementIds.TimerDisplay}}" class="countdownHolder">
    <p style="font-size:40px;">
    Press Start <br>
    <small>
      Have fun! :) <br>
      <small>
        read the comments
      </small>
    </small>
    </p>
  </div>

  <button type="button" id="{{ElementIds.BtnStart}}">
    Start
  </button>

  <button type="button" id="{{ElementIds.BtnPause}}">
    Pause
  </button>

  <br/>

  <button type="button" id="{{ElementIds.BtnSetTo}}">
    Set To
  </button>
  <input id="{{ElementIds.InputSetTo}}" style="width:40px" type="number" min=0 value="{{ initialSetTo }}"/>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

 <button type="button" id="{{ElementIds.BtnReset}}">
    Reset
  </button>

<br/>

  <button type="button" id="{{ElementIds.BtnUp}}">
    Count Up
  </button>

  <button type="submit" type="button" id="{{ElementIds.BtnDown}}">
    Count Down
  </button>

<br/>

  <label>
    Tick Speed
  </label>
  <input id="{{ElementIds.InputTickSpeed}}" style="width:60px" type="number" min=0 value="{{initialTickSpeed}}"/>

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <label>
    Count Diff
  </label>
  <input id="{{ElementIds.InputCountDiff}}" style="width:60px" type="number" min=0 value="{{initialCountDiff}}"/>
