<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <h1>Watching wrestling is fun.</h1>
        <h2>Betting on wrestling is <u>more</u> fun.</h2>
        <h5>And eating sushi after watching wrestling with your winnings is the <u>most</u> fun!</h5>
        <h1><img src="./assets/images/sumo-icon.jpg" alt="wrestling" style="width:150px;height:150px;">&nbsp;+&nbsp;<img src="./assets/images/money-emoji.jpg" alt="money" style="width:150px;height:150px;">&nbsp;=&nbsp;<img src="./assets/images/sushi-emoji.png" alt="sushi" style="width:150px;height:150px;"></h1>
        <h1>&nbsp;</h1>
      </div>
      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>ngMafia</h3>
        <h4>(Angular Mafia)</h4>
      </div>

      <div class="text-center">Scott Chapman & Tony Martino & Brian Chirgwin & Galadriel Thompson</div>
      <div class="text-center">
        <a href="http://www.github.com">GitHub</a>
      </div>
    </div>
  </div>
</div>