<div class="card">
  <div class="card-header bg-info text-white">
    {{pageTitle}}
  </div>
  <div class="card-body col-md-*">
    <div class="container-fluid">
      <div class="text-center splash">
        <h1>This will be a gateway for B2B.</h1>
        <h2><ul style="list-style: none;">
          <li>Dispensaries will be able to see inventory and buy product.</li>
          <li>This will help sales create on the fly invoices.</li>
          <li>This will allow sales to see available products.</li>
        </ul></h2>
        <h5></h5>
        <h1></h1>
        <h1>&nbsp;</h1>
      </div>
      <div class="text-center splash">Developed by:</div>
      <div class="text-center splash">
        <h2>ngMafia</h2>
        (Angular Mafia)
      </div>

      <div class="text-center splash">Scott Chapman</div>
      <div class="text-center splash">
        <a href="http://www.github.com">GitHub</a>
      </div>
    </div>
  </div>
</div>
