// .pool-date-class {
//   background: orange;
//   border-radius: 100%;
// }
.mat-form-field.mat-currency {
  width: 110px;
}
.mat-form-field.mat-date {
  width: 190px;
}
.mat-form-field.mat-dropdown {
  width: 85%;
}
.mat-form-field.mat-field {
  width: 85%;
}
.mat-form-field.mat-number {
  width: 95px;
}
.mat-form-field.mat-phone {
  width: 140px;
}


