<div class="card">
  <div class="card-header bg-info text-white">
    {{pageTitle}}
  </div>

  <div class="card-body">
    <form novalidate
          (ngSubmit)="saveFirePool()"
          [formGroup]="poolForm">

          <div class="form-group row mb-2" *ngIf="events">
            <label class="col-md-2 col-form-label"
                  for="eventLinkIdId">Available Event Links:</label>
            <div class="col-md-8 largest-option">
            <mat-form-field appearance="outline" class="mat-dropdown">
              <mat-label>Which event?</mat-label>
              <mat-select formControlName="eventLinkId">
                <mat-option *ngFor="let event of eventsAndId" [value]="event.id">{{event.eventName}}
                </mat-option>
              </mat-select>
                <div *ngIf="poolForm.value.eventLinkId"><!-- Put in the image of selected --></div>
            </mat-form-field>
              <span class="invalid-feedback">
                {{displayMessage.eventLinkId}}
              </span>
            </div>
          </div>

          <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
              for="poolNameId">Pool Name:</label>
        <div class="col-md-8">
          <mat-form-field appearance="outline" class="mat-field">
            <mat-label>Name Required</mat-label>
            <input matInput type="string" placeholder="Ex. 2020 Ensure Cup" formControlName="poolName" min="1">
            <mat-error *ngIf="pool.poolName">Min size: 3 character</mat-error>
          </mat-form-field>
          <!-- <input class="form-control"
                id="poolNameId"
                type="text"
                placeholder="Pool Name (required)"
                formControlName="poolName"
                [ngClass]="{'is-invalid': displayMessage.poolName }" /> -->
          <span class="invalid-feedback">
            {{displayMessage.poolName}}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
              for="poolDeadlineDateId">Pool Deadline Date:</label>
        <div class="col-md-8 pool-date-class">
          <mat-form-field class="mat-date" appearance="outline">
            <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date"
            formControlName="poolDeadlineDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
            [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi"
            [color]="color" [enableMeridian]="enableMeridian"></ngx-mat-datetime-picker>
          </mat-form-field>
          &nbsp;
          <mat-icon aria-hidden="false"
              matTooltip="Time ALWAYS Central (-5 hours GMT, -2 PST, +1 EST adjust for Daylight Saving)"
              matTooltipPosition="above"
              aria-label="Help label">help
          </mat-icon>

          <!-- <input class="form-control"
                id="poolDeadlineDateId"
                type="text"
                bsDatepicker
                placeholder="Deadline Date (required)"
                formControlName="poolDeadlineDate"
                [ngClass]="{'is-invalid': displayMessage.poolDeadlineDate }" /> -->
          <span class="invalid-feedback">
            {{displayMessage.poolDeadlineDate}}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
              for="poolTypeId">Pool Type:</label>
        <div class="col-md-8">
          <!-- <select formControlName="poolType">
            <option *ngFor="let pType of pTypes" [attr.selected]="" value={{pType}}>{{pType}}</option>
          </select> -->
          <mat-form-field class="mat-dropdown" appearance="outline">
            <mat-label>Which Type of pool?</mat-label>
            <mat-select formControlName="poolType">
              <mat-option *ngFor="let pType of pTypes" [value]="pType">{{pType}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <span class="invalid-feedback">
            {{displayMessage.poolType}}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
              for="poolEntryAmountId">Pool Entry Amount:</label>
        <div class="col-md-2">
          <mat-form-field class="mat-currency" appearance="outline">
            <mat-label>Amount</mat-label>
            <input matInput type="number" class="example-right-align" formControlName="poolEntryAmount">
            <span matPrefix>$&nbsp;</span>
            <span matSuffix>.00</span>
          </mat-form-field>
          <span class="invalid-feedback">
            {{displayMessage.poolEntryAmount}}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
              for="poolTotalEntriesAllowedId">Total Entries Allowed:</label>
        <div class="col-md-8">
              <mat-form-field class="mat-number" appearance="outline">
                <mat-label>Max Entries</mat-label>
                <input matInput type="number" class="example-right-align" formControlName="poolTotalEntriesAllowed">
              </mat-form-field>
          <span class="invalid-feedback">
            {{displayMessage.poolTotalEntriesAllowed}}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
              for="poolPaymentBreakdownId">Pool Payment Breakdown:</label>
        <div class="col-md-8">
          <!-- <input class="form-control"
                id="poolPaymentBreakdownId"
                type="text"
                placeholder="Payment Breakdown (required)"
                formControlName="poolPaymentBreakdown"
                [ngClass]="{'is-invalid': displayMessage.poolPaymentBreakdown}" /> -->
            <mat-form-field class="mat-field" appearance="outline">
              <mat-label>Should add up to 100%</mat-label>
              <input matInput type="string" placeholder="Ex. 80, 15, 5" formControlName="poolPaymentBreakdown" min="3">
              <mat-error *ngIf="pool.poolPaymentBreakdown">Min size: 3 character</mat-error>
            </mat-form-field>
            &nbsp;
            <mat-icon aria-hidden="false"
                matTooltip="Ex.1: [80, 15, 5] means 80% to 1st, 15% to 2nd, and 5% to 3rd
                Ex.2: [80, 20, x] means 80%(remaining after paying 3rd back entry) to 1st, 20% (same), 3rd gets entry back"
                matTooltipPosition="above"
                aria-label="Help label">help
            </mat-icon>

          <span class="invalid-feedback">
            {{displayMessage.poolPaymentBreakdown}}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
              for="poolImageUrlBackgroundId">Background Image Url:</label>
        <div class="col-md-8">
          <input class="form-control"
                id="poolImageUrlBackgroundId"
                type="text"
                placeholder="JPEG, GIF, or PNG only 5:1 ratio"
                formControlName="poolImageUrlBackground"
                [ngClass]="{'is-invalid': displayMessage.poolImageUrlBackground}" />
                <!-- <mat-form-field appearance="outline">
                  <ngx-mat-file-input formNameControl="file2Control" [multiple]="multiple" [accept]="accept" [color]="color">
                    <mat-icon ngxMatFileInputIcon>folder</mat-icon>
                  </ngx-mat-file-input>
                </mat-form-field> -->
          <span class="invalid-feedback">
            {{displayMessage.poolImageUrlBackground}}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
              for="poolImageUrlMainId">Logo Image:</label>
        <div class="col-md-8">
          <input class="form-control"
                id="poolImageUrlMainId"
                type="text"
                placeholder="JPEG, GIF, or PNG only 50x50pixels"
                formControlName="poolImageUrlMain"
                [ngClass]="{'is-invalid': displayMessage.poolImageUrlMain}" />
          <span class="invalid-feedback">
            {{displayMessage.poolImageUrlMain}}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
              for="poolOrganizerId">Pool OrganizerName:</label>
        <div class="col-md-8">
          <mat-form-field class="mat-field" appearance="outline">
            <mat-label>Organizers Name Required</mat-label>
            <input matInput type="string" placeholder="Ex. John Smith" formControlName="poolOrganizer" min="3">
            <mat-error *ngIf="pool.poolOrganizer">Min size: 3 character</mat-error>
          </mat-form-field>
          <!-- <input class="form-control"
                id="poolOrganizerId"
                type="text"
                placeholder="Organizer Full Name (required)"
                formControlName="poolOrganizer"
                [ngClass]="{'is-invalid': displayMessage.poolOrganizer }" />-->
          <span class="invalid-feedback">
            {{displayMessage.poolOrganizer}}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
              for="poolOrganizerPhoneId">Organizer Phone Number:</label>
        <div class="col-md-8">
          <mat-form-field class="mat-phone" appearance="outline">
            <mat-label>Number Required</mat-label>
            <input matInput type="string" placeholder="Ex. 949-555-5555" formControlName="poolOrganizerPhone" min="3">
            <mat-error *ngIf="pool.poolOrganizerPhone">Min size: 3 character</mat-error>
          </mat-form-field>
          <!-- <input class="form-control"
                id="poolOrganizerPhoneId"
                type="text"
                placeholder="Organizer Phone (required)"
                formControlName="poolOrganizerPhone"
                [ngClass]="{'is-invalid': displayMessage.poolOrganizerPhone}" />-->
          <span class="invalid-feedback">
            {{displayMessage.poolOrganizerPhone}}
          </span>
        </div>
      </div>
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
              for="poolInvites">Invited People:</label>
        <div class="col-md-8">
          <mat-form-field class="mat-field" appearance="outline">
            <mat-label>Emails Addresses separated by ,</mat-label>
            <textarea matInput placeholder="bob@apple.com, johnsmith@google.com" formControlName="poolInviteEmails">
            </textarea>
            </mat-form-field>
          <!-- <input class="form-control"
                id="poolOrganizerPhoneId"
                type="text"
                placeholder="Organizer Phone (required)"
                formControlName="poolOrganizerPhone"
                [ngClass]="{'is-invalid': displayMessage.poolOrganizerPhone}" />-->
          <span class="invalid-feedback">
            {{displayMessage.poolOrganizerPhone}}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button class="btn btn-primary mr-3"
                  style="width:80px;"
                  type="submit"
                  [title]="poolForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                  [disabled]="!poolForm.valid">
            Save
          </button>
          <button class="btn btn-outline-secondary mr-3"
                  style="width:80px;"
                  type="button"
                  title="Cancel your edits"
                  [routerLink]="['/pools']">
            Cancel
          </button>
          <button *nfIf="" class="btn btn-outline-warning"
                  style="width:80px"
                  type="button"
                  title="Delete this pool"
                  (click)="deletePool()">
            Delete
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="alert alert-danger"
       *ngIf="errorMessage">{{errorMessage}}
  </div>
</div>

<!--<button (click)="makeTestData()">Make Test</button>-->

<!-- <br>Dirty: {{ poolForm.dirty }}
<br>Touched: {{ poolForm.touched }}
<br>Valid: {{ poolForm.valid }}
<br>Status: {{ poolForm.status }}
<br>Value: {{ poolForm.value | json }}
<br>&nbsp; -->
